input{
    outline:none;
  }
  #translate{
      width:10vh;
    
      height:10vh;
      background:lightblue;
      border-radius:100%;
    mix-blend-mode:difference;
      position:fixed;
      top:30%;
      left:2%;
      cursor:pointer;
      z-index:22;
      text-align:center;
      line-height:10vh;
  font-family:'Rubik',sans-serif;
      font-size:1.8rem;
      font-weight:bold;
      transition:all 0.4s;
      overflow: hidden;
    }

    #translate::after{
        content: "";
        position: absolute;
        left:-110%;
        width:100%;
        transition: all 0.5s;
        height: 100%;
        background: crimson;
        border-radius: 100%;
    }
    #translate::before{
        content: "";
        position: absolute;
        left:-180%;
        width:100%;
        height: 100%;
        background:blue;
        border-radius: 100%;
        transition: all 1.2s;
    }
    #translate:hover::after{
        left:110%;
    }
    #translate:hover::before{
        left:110%;
    }
    #face{
        width:10vh;
        height:10vh;
        background:lightblue;
        border-radius:100%;
      mix-blend-mode:difference;
        position:fixed;
        top:42%;
        left:2%;
        cursor:pointer;
        z-index:22;
        text-align:center;
        line-height:10vh;
    font-family:'Rubik',sans-serif;
        font-size:1.8rem;
        font-weight:bold;
        transition:all 0.4s;
      }
      #call{
        width:10vh;
        height:10vh;
        background:lightblue;
        border-radius:100%;
      mix-blend-mode:difference;
        position:fixed;
        top:54%;
        left:2%;
        cursor:pointer;
        z-index:22;
        text-align:center;
        line-height:10vh;
    font-family:'Rubik',sans-serif;
        font-size:1.8rem;
        font-weight:bold;
        overflow: hidden;
        transition:all 0.4s;
      }
      #call::after{
        content: "";
        position: absolute;
        top:0%;
        left: -40%;
    width:30%;
    height: 100%;
    transition:all 0.4s;
        background: white;
        transform: skew(30deg);
      }
      #call:hover::after{
        left: 110%;
      }
    #translate:hover{
      transform:scale(0.96);
    }
    #face:hover{
        transform:rotate(360deg);
      }
  *{
      margin: 0px;
      padding:0px;
      box-sizing: border-box;
    }
    html{
      scroll-behavior: smooth;
      overflow-x: hidden;
    }
    ::-webkit-scrollbar-thumb{
      width: 12px;
      border-radius: 22px;
      background-color: beige;
    }
    ::-webkit-scrollbar{
      width: 12px;
    }
    body{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      flex-wrap: wrap;
    }
  canvas{
    z-index:-1;

  }
    #nav{
      width: 100vw;
      height: 9vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      top:0px;
      left:0px;
      z-index: 4;
    }
    #Logo{
      content: "Logo Name";
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      font-family: 'Rubik',sans-serif;
      margin-right: auto;
      transition: all 1.2s;
      margin-left:1.4vw;
      outline: none;
    }
    #hamburger{
      position: relative;
      width: 3.2vw;
      height: 7.3vh;
    cursor: pointer;
       margin-right: 5vw;
    }
    #hamburger::after{
       content: "";
       position: absolute;
       top:43%;
       left: 13%;
       width: 1.8vw;
       height: 0.3vh;
       border-radius: 22px;
       background: white;
       transition: all 0.3s;
    }
    #hamburger::before{
       content: "";
       position: absolute;
       top:63%;
       border-radius: 22px;
       left: 13%;
       width: 1.2vw;
       height: 0.3vh;
       background: white;
       transition: all 0.3s;
    }
    #hamburger:hover::after{
      width: 1vw;
    }
    #hamburger:hover::before{
      width: 1.8vw;
    }
    #mainheader{
  
      --backheader:black;
      width: 100vw;
      height:110vh;
      background:var(--backheader);
      position: relative;
      transition: all 1.2s;
      border-bottom-left-radius:20% ;
      border-bottom-right-radius:20% ;
    }
    .card{
      width: 65vh;
      height: 65vh;
      background:var(--back);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     position: absolute;
     top:25%;
     cursor: grab;
     left:60%;
     transition: all 0.1s;
  
    }
    .card:active{
      cursor:grabbing;
      scale: 1.1;
    }
    
    .card:nth-of-type(even){
      transform: rotate(13deg);
  
    }
    .card:nth-of-type(odd){
      transform: rotate(-6deg);
    }
    .card:last-of-type{
      transform: rotate(5deg);
    }
    ::selection{
      background: none;
    }
    #call a{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0%;
        left: 0%;
    }
    #text{
      display: block;
      width:40vw;
      height:20vh;
      pointer-events: none;
      color:white;
      font-family: 'Rubik',sans-serif;
      text-transform: uppercase;
      font-size: 3.1rem;
      font-weight: bold;
      line-height: 10vh;
      text-align: center;
      position: absolute;
      left:7%;
  top:40%;
  
    }
    @media(max-width:990px){
      #mainheader{
          height: 160vh;
      }
      #text{
          left:30%;
          top:70%;
      }
      .card{
          top:26%;
          left:15%;
      }
      #nav{
          width:97vw;
      }

  
    }


    #w{
      width:90vw;
      position:absolute;
      top:70%;
      height:0vh;
      transition: all 3.2s;
      margin-top: 44vh;
   
      text-transform: uppercase;
      margin-left: 5vh;
      overflow: hidden;
      color: white;
      font-family: 'Montserrat', sans-serif;
      mix-blend-mode: difference;
  font-size: 12rem;
      position:absolute;
    }
    #w b{
      letter-spacing: 3.3vh;
    }
    #sec{
      width: 90vh;
      height:34vh;
         color: white;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 1.1rem;
      font-weight: bold;
      position: absolute;
      top:146%;
      left:49%;
  cursor:pointer;
      z-index: 25;
      overflow: scroll;
      display: block;
      overflow-x:hidden ;
      padding: 12px;
  
  }
  #sec k{
  font-size: 2rem;
  }
  #examples{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
  }
  #bub{
      width: 100vw;
      height: 200vh;
      z-index:1;
      
  }
  
  #bub span{
      width: 3vw;
      height: 3vw;
      background:#6a6acb;
   z-index: 4;
  border-radius: 100%; 
  margin-right: 12vh;
  display: inline-block;
  mix-blend-mode:exclusion;
  box-shadow:0 0 12px #6a6acb,0 0 40px #6a6acb,0 0 20px #6a6acb;
  animation:animate calc(var(--i)/10*21s)  infinite;
  }
  #bub span:nth-child(even){
      background: crimson;
      box-shadow:0 0 12px crimson,0 0 40px crimson,0 0 20px crimson;
  }
  #bub span:last-of-type{
      background-color: lightblue;
      animation-duration: 12s;
      box-shadow:0 0 12px lightblue,0 0 40px lightblue,0 0 20px lightblue ;
  }
  @keyframes animate {
      0%{
          
          transform: translateY(200vh) scale(0.1);
      }
      100%{
          transform: translateY(-65vh) scale(1.01);
      }
  }
  .blob{
    width: 16vw;
    height: 16vw;
    background: linear-gradient(45deg,cyan,teal);
    border-radius: 12% ;
    animation: blob 8s infinite;
  }
  @keyframes blob{
    50%{
        transform: rotate(80deg);
        border-radius: 54% 46% 70% 30% / 59% 62% 38% 41% ;
        filter: hue-rotate(360deg);
    }
    }
    .blob{
        position: absolute;
        top:174%;
    }
    #b1{
        left:14%;
    }
    #b2{
        position: absolute;
        top:124%;
        right: 14%;
        mix-blend-mode: difference;
    }
  #menu{
    width: 35vw;
    height: 94vh;
    position: fixed;
    top:3%;
    left:-73%;
    background: white;
    overflow: hidden;
    border-radius: 12px;
    z-index: 89;
    transition: all 0.8s;
  }
  #menu::after{
    content: "";
    width:0.2%;
    height: 100%;
    position: absolute;
    right:10%;
    background: black;
  }
  
  #close{
    position: absolute;
    top:0%;
    cursor: pointer;
    right:0%;
    z-index: 9;
    width:10%;
    height:5vh;
  border-bottom: 1px solid black;
  }
  #close::after{
    content: "";
    position: absolute;
    transition: all .5s;
  left: 29%;
  cursor: pointer;
  top:39%;
    width: 17%;
    height: 6%;
  transform: rotate(47deg);
    background: black;
    border-radius: 22px;
  
  }
  #line{
    position: absolute;
    transition: all .5s;
  left: 45.3%;
  cursor: pointer;
  top:62.4%;
    width: 17%;
    height: 6%;
  transform: rotate(47deg);
    background: black;
    border-radius: 22px;
  
  }
  #close::before{
    content: "";
    position: absolute;
  left: 26%;
  top:50%;
    width: 39%;
    transition: all .5s;
    cursor: pointer;
    height: 6%;
  transform: rotate(-47deg);
    background: black;
    border-radius: 42px;
  
  }
  #close:hover::after,#close:hover::before{
    background: chartreuse;
  }
  .cardpanel{
    width: 100vw;
    height:80vh;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:6vh;
  }
  .cardperson{
    width: 40vh;
    height:60vh;
    cursor: pointer;
    transition: all 3.2s;
    background:white;
    position: relative;
    border-radius:12px;
  }
  .cardperson:hover{
    filter: hue-rotate(110deg);
  }
  .cardperson:first-of-type{
  
    background: linear-gradient(to top, #30344c, rgb(22, 47, 58)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
    .cardperson:nth-of-type(2){
      background:linear-gradient(45deg,cyan,teal);
    }
  .cardperson::after{
  content: "";
  position: absolute;
  top:6%;
  left:25%;
  width:20vh;
  height: 20vh;
  background-color: white;
  border-radius: 100%;
  box-shadow: 20px 20px 90px #1d121d,30px 30px 110px #1d1d1d ;
  }
  #contact{
  width:100vw;
  height:90vh;
  background:black;
  flex-wrap:wrap;
  position:relative;
  display:flex;
  justify-content:center;
  }
  input{
  color:white;
  font-family:'Rubik',sans-serif;
  color:white;
  font-weight:bold;
  font-size:1.3rem;
  padding:12px;
  background:transparent;
  border-radius:19px;
  border:3px solid #6a6acb;
  width:70vw;
  height:10vh;
  }
  textarea{
  color:white;
  font-family:'Rubik',sans-serif;
  color:white;
  font-weight:bold;
  font-size:1.3rem;
  padding:12px;
  background:transparent;
  border-radius:19px;
  border:3px solid #6a6acb;
  width:70vw;
  height:50vh;
  }
  

  ::placeholder{
  color:white;
  }
  #submit{
  color:white;
  font-family:'Rubik',sans-serif;
  color:white;
  font-weight:bold;
  font-size:1.3rem;
  padding:12px;
  background:#6a6acb;
  border-radius:19px;
  border:3px solid #6a6acb;
  width:70vw;
  height:10vh;
  text-align:Center;
  cursor:pointer;
  }
    .cardperson p{
      margin-left:15%;
      
      margin-top:73%;
      color:white;
      font-family:'Rubik',sans-serif;
  color:white;
      mix-blend-mode:difference;
  font-weight:bold;
  font-size:1.3rem;
      text-transform:capitalize;
    }
.card{
  border:2px solid whit;
}
      .cardperson:nth-of-type(2) p{
      margin-right:32px;
      margin-top:73%;
      color:black;
      font-family:'Rubik',sans-serif;
  color:white;
  mix-blend-mode:normal;
  font-weight:bold;
  font-size:1.3rem;
      text-transform:capitalize;
    }
    @media(max-width:640px){
      .card{
          width: 36vh;
          height: 36vh;
        border:2px solid white;
          top:24%;
          left:18.5%;
        --left:18.5%;
      }
      .cardpanel{
        flex-flow: column;
      }
      .cardperson::after{
        left:19%;
        top:9%;
        transform: scale(0.9);
      }
      #text{
          font-size: 2.1rem;
          width: 100vw;
          transform: translateX(-34%) translateY(-174%);
      }
   #w{
      width:90vw;
      position:absolute;
      top:60%;
      height:0vh;
      transition: all 3.2s;
      margin-top: 44vh;
   left:-5%;
      text-transform: uppercase;
      margin-left: 5vh;
      overflow: hidden;
      color: white;
      font-family: 'Montserrat', sans-serif;
      mix-blend-mode: difference;
  font-size: 7rem;
      position:absolute;
    }
      #sec{
        height:65%;
        width:90%;
        left:1.5%;
        top:179.6%;
      }
      .cardperson{
        width:97%;
        height:30vh;
        border-radius:32px;
      }
  
      .cardperson::after{
        left:3%;
      }
      #contact{
        height:100vh;
      }
      input:first-of-type{
        margin-top:9vh;
      }
      input{
        width:95%;
      }
          textarea{
        width:95%;
      }
      #submit{
               width:95%; 
        
      }
    }
